@font-face{
    font-family:phone_display;
    src: url(fonts/neuropolitical.ttf);
   
}
@font-face{
    font-family:heading;
    src: url(fonts/carbon.ttf);
}
@font-face{
    font-family:figcapt;
    src:url(fonts/libel-suit-rg.ttf);

}
figure{
    font-family:figcapt;
}
img.front
{margin-left:25%;
    margin-right:auto;
 border-top-left-radius: 10px;
 border-top-right-radius: 20px;
 border-bottom-right-radius: 20px;
 border-bottom-left-radius: 10px;
 height:30%;
 width:50%;   
}
img.contact{
height:12%;
width:40%;
}
.phone
{
font-size: 120%;
font-family:phone_display;

}
.phone>figure>figcaption{
    font-weight: bold;
    text-align:center;
}

h2{
font-family: heading;
}
h3.contact
{
    text-align: center;
}

div.txt
{
    padding: 2% 8% auto 10px;

}